a* {
  box-sizing: border-box;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100svh;
}
.image-cards {
  padding: 0;
  margin: 0;
  display: grid;
  width: 70svw;

  perspective: 1000px;

  > * {
    grid-area: 1 / 1 / 2 / 2;
  }
  li {
    list-style: none;
  }
}
.circles{
    position:relative;
    display:flex;
    align-items:center;
    justify-content:center;
    width:50vh;
}
.circle-card{
    width:50vh;
    height:50vh;
}
.card {
  height: 70svh;
  background-color: red;
  min-height: auto;
  padding: 30px;
}


html, body {
  overflow-x: hidden !important;
  width: 100%;
  position: relative;
}

svg path.draw1, svg path.draw2   {
  stroke:#FFCECE;
  stroke-dasharray: 8; 
    stroke-width: 6;
fill:none;
} 

#maskedImage,
#maskedImage2 {
  width: 100%;
  height: auto;
max-height:80vh;
}

#menuCircle, #menuCircle .circle {
  transform-origin: top right;
}

.circle-clone {
  pointer-events: none;
  opacity: 0.9;
}